* {
  box-sizing: border-box;
}

body {
  margin: 30;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

div.container1 {
  display: flex;

  background-color: rgb(189, 178, 178);
  padding: 8px;
  margin: 2px;
  height: 300px;
}

div.item {
  padding: 22px;
  margin: 5px;
}

.item1 {
  background-color: rgb(221, 85, 103);
}

.item2 {
  background-color: rgb(118, 202, 174);
}

.item3 {
  background-color: rgb(133, 9, 133);
}

.item4 {
  background-color: rgb(23, 199, 67);
  align-self: baseline;
    /* default 'stretch'
        or flex-start
        or flex-end
        or center
        or baseline
    */
}

.item5 {
  background-color: rgb(211, 186, 208);
  align-self: baseline;
}

.item6 {
  background-color: rgb(209, 226, 55);
}